<header>
  <img src="./../../assets/Image.jpg" alt="Flower-logo" />
  <h1><a href="index.html">Skillsoft weight Tracker</a></h1>
</header>
<nav>
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/register">Register</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/employees">Employees</a></li>
    <li><a routerLink="/chart">Chart</a></li>
    <li><a routerLink="/summary">Summary</a></li>
    <li><a routerLink="/table-data">Table</a></li>
  </ul>
</nav>
<div id="container">
  <main>
    <div class="container">
        <h2>Registered Users</h2>
      <div *ngFor="let data of employees$ | async">
        <div>Username : {{ data.username }}</div>
        <div>Password : {{ data.password }}</div>
      </div>
<hr>
      <h2>Employee List</h2>
      <ul *ngFor="let employee of employees">
        <li>
            <div class="employee-container">
            <div>
                <p>Employee Id: {{employee.id}}</p>
                Employee Logo: <img [src]="employee.imageUrl" alt="Employee Image"
                height="100" width="100">
                <h3>Employee Name: {{employee.firstName}}  {{employee.lastName}}</h3>
                <p>Email: {{employee.email}} &nbsp; <a href="mailto:{{employee.email}}">Click to Email</a></p>
                <p>Contact Number: {{employee.contactNumber}}</p>
                <p>Date of Birth: {{employee.dob}}</p>
                <p>Salary: {{employee.salary}}</p>
            </div>
            </div>
            <hr>
        </li>
      </ul>
    </div>
  </main>
</div>
