<header>
    <img src="./../../assets/Image.jpg" alt="Flower-logo">
    <h1><a href="index.html">Skillsoft weight Tracker</a></h1>
</header>
<nav>
    <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/register">Register</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/employees">Employees</a></li>
    </ul>
</nav>
<div id="container">
    <main>
        <h2>How to participate in the progress</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae explicabo, labore impedit vitae omnis rem fugiat, magnam molestiae exercitationem est, perspiciatis repellendus doloremque voluptatibus accusamus atque necessitatibus laborum. Illum, minima.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum dolorem nemo eaque facilis? Aut, blanditiis nesciunt vero recusandae totam provident consectetur ipsa id maxime quidem? Harum cumque laudantium id non!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis fuga possimus, itaque eius quasi est facilis veniam quaerat consequatur tempora voluptas saepe provident harum rerum sequi magnam, inventore, recusandae voluptatem?</p>
    </main>
    <aside>
        <section>
            <h4>Health News</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci unde consequuntur dicta repellendus modi asperiores quod nobis nulla itaque, eius laudantium voluptates debitis enim nihil. Explicabo incidunt soluta eligendi magnam.</p>
        </section>
        <section>
            <h4>Healthy Recipes</h4>
            <a href="#">Grilled Chicken</a>
            <a href="#">Mutton Kheema</a>
            <a href="#">Fish Fry</a>
            <a href="#">Veg Biryani</a>
        </section>
    </aside>
</div>
<footer>
    <hr>
    Copyright &copy; 2023. All rights are reserved
</footer>